.DS_Store
*.DS_Store
Thumbs.db
methods/printer/
methods/printer/
methods/ICPSR SYLLBAS/
methods/SEM/
methods/experitical/
methods/text analysis/
methods/printer/
methods/ICPSR SYLLBAS/
methods/SEM/
methods/experitical/
methods/text analysis/
methods/printer/
methods/ICPSR SYLLBAS/
methods/SEM/
methods/experitical/
methods/text analysis/
